# .clangd for Nix environment with libc++

CompileFlags:
  CompilationDatabase: build
  Add:
    - -stdlib=libc++
  Remove:
    - -m64

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Suppress:
    - "missing-includes"
